@import "../../node_modules/@fortune-sheet/react/dist/index.umd.css";

.mendixcn-fortune-sheet {
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: grid;

    .luckysheet-scrollbars.luckysheet-scrollbar-ltr.luckysheet-scrollbar-x {
        width: calc(100% - 44.5px);
    }
}
